*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background: #090806 url(https://eu.battle.net/forums/static/images/backgrounds/background-wow-top.jpg) repeat-y top center;
  background-attachment: fixed;
  font-weight: normal;
  color: #fff;
  margin: 0px 15px;
  margin-right: 5%;
  font-family: "Friz Quadrata Std Medium";
  font-size: 100%;

}

header{
  position: relative;
  width: 98%;
  top:0;
  left:0;
  color: #ffffff;
  padding: 6px;
  margin: 10px;
  margin-top:0px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;;
}

h1{
  display: block;
  margin: 0px;
  color: rgb(255, 255, 255);
  text-shadow: 0.1em 0.1em rgba(145, 134, 13, 0.507);
  font-family: "Friz Quadrata Std Medium";
  font-weight: normal;
  font-size:35px;
  font-style: bold;
  letter-spacing: 3px ;
  text-transform: capitalize;;  
}

h2,h3{
  background-color: hsla(36, 51%, 77%, 0.644);
  color: hsl(0, 0%, 100%);
  margin: 15px;
  margin-bottom:2px;
  padding: 3px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;;
}

h3{
    margin:0;
    padding: 6px;
}

p{
  border:1px solid black;
  padding: 10px;
  margin: 5px;
}
ul {
  list-style-type: none;
}
article li {
  text-align: center;
}

/*main{
  margin-left: 2px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 100%;
  height: 100%;
}*/

main{
  margin: 10px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

section{
  margin: 25px 20px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}

article{
  background-color: hsla(79, 83%, 73%, 0.248);
  color: rgb(255, 255, 255);
  margin: 15px;
  margin-top:8px;
  padding: 14px;
  border-radius: 8px;
  max-width: 100%;
  height: auto;
  
}
img {

  max-width: 100%;
  height: auto;
  margin: 10px;
  border: none;
}
IMG.imgcenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:none;
  }
img.razas{
  height: 250px;
  width: 250px;
  border-radius: 5px;
  float: left;

}


iframe {
  display: block;
  margin: 0 auto;
  border-color: rgb(0, 0, 0);
  border: 5px;
  border-radius: 5px;
}


  /*----------------------------------------------------------------------------------------*/
  /* Menús nav/aside/footer */

  /*----------------------- Menu navegación ---------------------*/

nav {
  position: relative;
}

ul.menunav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: url(https://i.imgur.com/xZcjIl9.jpg?fb) repeat-x center ;
  border-radius: 5px;
  overflow: hidden;
  background-color: #333;
}

li.menunav {
  float: left;
}

li a.menunav {
  display: block;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background: url(http://static.allbackgrounds.com/bg/pain.jpg) ;
  opacity: 0.85; 
}

.icon-menu {
  padding: 14px 16px;
}

#menu {
  display:none;
}


/*----------Aside Social-----------*/
.social {
  position: fixed; 
  left: 0; 
  top: 200px; 
  z-index: 2000; 
}

.social ul {
  list-style: none;
  
}

.social ul li a {
  display: inline-block;
  color:#fff;
  border-radius: 3px;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
 -webkit-transition:all 500ms ease;
 -o-transition:all 500ms ease;
  transition:all 500ms ease; 
  }

  .social ul li .icon-facebook {background:#3b5998;} 
  .social ul li .icon-twitter {background: #00abf0;}
  .social ul li .icon-google {background: #d95232;}
  .social ul li .icon-youtube {background: #ae181f;}
  .social ul li .icon-mail {background: #666666;}
  .social ul li .icon-chevron-small-left {
    background: rgba(0, 0, 0, 0);
    padding-left: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
  }

  #right {
    display: none;
  }

  .social ul li a:hover {
    opacity: 75%;
    padding: 10px 30px; 
}


  /*Footer*/

  footer{
    position:relative;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
 }

