*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    background: #090806 url(http://bnetcmsus-a.akamaihd.net/cms/template_resource/ri/RI8Q9HOWY4U01465961118458.jpg) no-repeat top center;
    background-attachment: fixed;
    font-family: Arial;
    font-weight: normal;
    font-size:15px;
    color: #fff;
    margin: 0px 15px;
    margin-right: 5%;

  }
  
  header{
    position: relative;
    width: 98%;
    top:0;
    left:0;
    color: #ffffff;
    padding: 6px;
    margin: 10px;
    margin-top:0px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
  }

    
  
  main{
    margin: 10px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }


  h1#title {
    display: block;
  }
  h1{
    display: block;
    margin: 0px;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.734);
    font-family: "Friz Quadrata Std Medium";
    font-weight: normal;
    font-size:35px;
    font-style: bold;
    letter-spacing: 3px ;
    text-transform: capitalize;;  
  }
  
  h3{
    background-color: hsla(36, 51%, 77%, 0.644);
    color: hsl(0, 0%, 100%);
    margin:0;
    padding: 6px;
    padding: 3px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;;
  }


  
  section{
    margin: 20px;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
  }

  #menu {
    display:none;
  }

  img {
  
    max-width: 100%;
    height: auto;
    margin: 10px;
    border: none;
  }
  IMG.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:none;
    }
  
  
  iframe {
    display: block;
    margin: 0 auto;
    border-color: rgb(0, 0, 0);
    border: 5px;
    border-radius: 5px;
  }
  
  nav {
  position: relative;
  }
  
  /*----------------------------------------------------------------------------------------*/
  /* Sprites imagenes Clases */
  
  .bg-Shaman {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -1120px -750px;
    border-style: none !important;
    float: left;
  }
  
  .bg-Warlock {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -1120px -380px;
    border: none !important;
    float:left;
  }
  
  .bg-Warrior {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -1120px -10px;
    border: none;
    float: left;
  }
  
  .bg-Monk {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -750px -750px;
    border: none;
    float: left;
  }
  
  .bg-Paladin {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -380px -750px;
    border: none;
    float: left;
  }
  
  .bg-Rogue {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -10px -10px;
    border: none;
    float: left;
  }
  
  .bg-Mage {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -750px -380px;
    border: none;
    float: left;
  }
  
  .bg-Hunter {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -750px -10px;
    border: none;
    float: left;
  }
  
  .bg-Druid {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -380px -380px;
    border: none;
    float: left;
  }
  
  .bg-Priest {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -10px -380px;
    border: none;
    float: left;
  }
  
  .bg-DK {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -10px -750px;
    border: none;
    float: left;
  }
  
  .bg-DH {
    width: 350px; height: 350px;
    background: url(https://image.ibb.co/cP1sEb/css_sprites.png) -380px -10px;
    border: none;
    float: left;
  }
  
  /*----------------------------------------------------------------------------------------*/
  /* Menús nav/aside/footer */


  /* Menu navegación */
  ul.menunav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*background: url(https://i.imgur.com/xZcjIl9.jpg?fb) repeat-x center ;*/
    background: #986b3bbb;
    border-radius: 5px;
    overflow: hidden;
  }
  
  li.menunav {
    float: left;
  }
  
  li a.menunav {
    display: block;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background: url(http://static.allbackgrounds.com/bg/pain.jpg) ;
    opacity: 0.85; 
  }
  
  .icon-menu {
    padding: 14px 16px;
  }

  /*Social side Bar*/
  .social {
      position: fixed; 
      left: 0; 
      top: 200px; 
      z-index: 2000; 
  }
  
  .social ul {
      list-style: none;
      
    }
  
  .social ul li a {
      display: inline-block;
      color:#fff;
      border-radius: 3px;
      background: #000;
      padding: 10px 15px;
      text-decoration: none;
     -webkit-transition:all 500ms ease;
     -o-transition:all 500ms ease;
      transition:all 500ms ease; 
      }
  
      .social ul li .icon-facebook {background:#3b5998;} 
      .social ul li .icon-twitter {background: #00abf0;}
      .social ul li .icon-google {background: #d95232;}
      .social ul li .icon-youtube {background: #ae181f;}
      .social ul li .icon-mail {background: #666666;}
      .social ul li .icon-chevron-small-left {
        background: rgba(0, 0, 0, 0);
        padding-left: 5px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      
      }

      #right {
        display: none;
      }

      .social ul li a:hover {
      opacity: 75%;
          padding: 10px 30px; 
    }
  /*Footer*/

  footer{
    position:relative;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
 }


 /*-----------------------------------------------------------------------------*/
    /* Forma div clases*/
    .floating{
      display: flex;
    }
  
    .clases{
      background: rgba(0, 0, 0, 0.336);
      border-radius: 10px;
      line-height: 200%;
      font-family:  "Friz Quadrata Std Medium";
      font-size: 100%;
      width: 100% ;
      height: 100%;
      padding: 10px;
      margin: 10px 40px 10px 40px;
      position: relative;
      display: inline-block;
    }
  

   .titulo{
      text-align: center;
      font-size: 200%;
      font-family: "Friz Quadrata Std Medium";
      text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.734);
      padding: 30px;
  
    }
    div.columna{
      padding-top: 300px;
      background-color: #7936099a;
      border-radius: 10px;
      text-align: center;
      font-size: 200%;
      font-family: "Friz Quadrata Std Medium";
      padding: 30px;
      height: 2500px;
      width: 45%;
      float: left;
      margin: 35px;
    
    }

